beautifulsoup4==4.15.0
certifi==2026.7.22
cffi==2.0.0
charset-normalizer==3.5.1
curl_cffi==0.13.0
exchange_calendars==4.5.6
frozendict==2.4.7
idna==3.19
korean_lunar_calendar==0.4.0
multitasking==0.0.13
numpy==2.0.2
pandas==2.3.3
peewee==4.5.0
platformdirs==4.4.0
protobuf==6.33.6
pycparser==2.23
pyluach==2.3.0
python-dateutil==2.9.0.post0
pytz==2026.3.post1
requests==2.32.5
six==1.17.0
soupsieve==2.8.4
toolz==1.1.0
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.6.3
websockets==15.0.1
yfinance==1.2.0
